<br/>
<p>

</p>

<form action="?" method="post" name="events" style="padding:0px" class="form">
  
<br>
			<div class="form-group">

				
       	<div class="controls"><input type="checkbox" id="enable_events" name="enable_events" data-toggle="collapse" data-target="#enable_events" value="1"
<label class="control-label">&nbsp;&nbsp;&nbsp;&nbsp;Уведомлять  о падениие заряда АКБ</label>
					 [#if ENABLE_EVENTS="1" #] checked[#endif#]
           </div>
           
           
<div class="controls"><input type="checkbox" id="enable_events" name="enable_events" data-toggle="collapse" data-target="#enable_events" value="1"
        <label class="control-label">&nbsp;&nbsp;&nbsp;&nbsp;Заводить автомобиль автоматически при падении температуры двигателя меньше -20 градусов</label>        
					 [#if ENABLE_EVENTS="1" #] checked[#endif#]
           </div>                      

<div class="controls"><input type="checkbox" id="enable_events" name="enable_events" data-toggle="collapse" data-target="#enable_events" value="1"
        <label class="control-label">&nbsp;&nbsp;&nbsp;&nbsp;Уведомлять при падении температуры двигателя менее -30 градусов. </label>        
					 [#if ENABLE_EVENTS="1" #] checked[#endif#]
           </div>                      


<div class="controls"><input type="checkbox" id="enable_events" name="enable_events" data-toggle="collapse" data-target="#enable_events" value="1"
        <label class="control-label">&nbsp;&nbsp;&nbsp;&nbsp;Уведомлять  о падениие баланса сим-карты ниже 30 руб.</label>        
					 [#if ENABLE_EVENTS="1" #] checked[#endif#]
           </div>           
           
<div class="controls"><input type="checkbox" id="enable_events" name="enable_events" data-toggle="collapse" data-target="#enable_events" value="1"
 <label class="control-label">&nbsp;&nbsp;&nbsp;&nbsp;Заводить автомобиль </label>        
					 [#if ENABLE_EVENTS="1" #] checked[#endif#]
           </div>    

 
 
 <div class="controls"><input type="checkbox" id="enable_events" name="enable_events" data-toggle="collapse" data-target="#enable_events" value="1"
				
        
        
        <label class="control-label">&nbsp;&nbsp;&nbsp;&nbsp;Уведомлять  о падениие баланса сим-карты</label>        
					 [#if ENABLE_EVENTS="1" #] checked[#endif#]
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<button type="submit" name="subm" value="Submit" class="btn btn-primary">Сохранить</button>
				<input type="hidden" name="view_mode" value="update_settings">
				<input type="hidden" name="tab" value="event">
				<input type="hidden" name="mode" value="update">

</div>




			</div>


<a class="btn btn-default" href="?data_source=<#DATA_SOURCE#>&view_mode=nowstate&tab=events">Состояние</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Рассказывает голосом текущее состояние  автомобиля.<br>    
<a class="btn btn-default" href="?data_source=<#DATA_SOURCE#>&view_mode=alarmstate&tab=events">Состояние автомобиля по времени</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Добавляет в модуль "будильник" голосовое уведомление о состоянии автомобиля в будний день в 21:00.<br>    
<a class="btn btn-default" href="?data_source=<#DATA_SOURCE#>&view_mode=alarmengine&tab=events">Завести двигатель по времени</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Добавляет в модуль "будильник" задание "Завести двигатель".<br>   <br>




  </form>
