<br/>
<div class="panel-group" id="accordion">
	<div class="panel panel-info">
		<div class="panel-heading">
		<a data-toggle="collapse" data-parent="#accordion" href="#sms_help">Информация</a>
		</div>
		<div class="panel-body collapse" id="sms_help">
		Модуль поддержки сервиса старлайн-телематика.
			
			</br>     </br>

	
		</div> </div> </div>


		<a data-toggle="collapse" data-parent="#accordion" href="#vozm">Возможности</a>
		</div>
		<div class="panel-body collapse" id="vozm">

Реализовано:     </br>
    </br></br>


В планах:  </br>




		</div> </div> </div>



<div class="panel-group" id="accordion">
	<div class="panel panel-info">
		<div class="panel-heading">
		<a data-toggle="collapse" data-parent="#accordion" href="#vidget">Добавление виджета в домашние страницы</a>
		</div>
		<div class="panel-body collapse" id="vidget">
в планах

		</div> </div> </div>

<div class="panel-group" id="accordion">
	<div class="panel panel-info">
		<div class="panel-heading">
		<a data-toggle="collapse" data-parent="#accordion" href="#event">Вызов голосового уведомления:</a>
		</div>
		<div class="panel-body collapse" id="event">
в планах
		</div> </div> </div>



<div class="panel-group" id="accordion">
	<div class="panel panel-info">
		<div class="panel-heading">
		<a data-toggle="collapse" data-parent="#accordion" href="#cont">Контактная информация</a>
		</div>
		<div class="panel-body collapse" id="cont">
		<p><b>
<a href="https://github.com/directman66/majordomo-starline" target="_blank">Ссылка на репозиторий</a><br>
<a href="http://majordomo.smartliving.ru/forum/viewtopic.php?f=5&t=5424" target="_blank">Тема на форуме</a>.<br></b></br>
		</div> </div> </div>

<div class="panel-group" id="accordion">
	<div class="panel panel-info">
		<div class="panel-heading">
		<a data-toggle="collapse" data-parent="#accordion" href="#bax">Поддержать разработку</a>
		</div>
		<div class="panel-body collapse" id="bax">

<p><b>Поддержать разработку и развитие модуля:</b><br>
Банковская карта: 5106211026111760<br>
Yandex деньги: 41001189619405<br>
Другие способы по договоренности (Сбербанк, ГПБ).<br>
С уважением, directman66.<br>
sannikovdi@ya.ru<br>

		</div> </div> </div>

                                                                                                         
	
</div>


	
</div>

