<br/>
<p>

</p>
<table width=100% border=0><tr>
<td valign=top>
<!-- results -->
[#if RESULT#]
<!-- paging -->
[#if PAGES#]
<table border=0>
<td align=right><b>Pages:</b>&nbsp;</td>
[#begin PREVPAGE#]<td><a href="?view_mode=<#VIEW_MODE#>&mode=<#MODE#>&save_qry=1&page=[#NUM#]">&lt;&lt;&lt;</a></td>[#end PREVPAGE#]
<td>
[#begin PAGES#]
[#if !SELECTED#]<a href="?view_mode=<#VIEW_MODE#>&mode=<#MODE#>&save_qry=1&page=[#NUM#]">[#else#]<b>[#endif#][#NUM#]</b></a>
[#end PAGES#]
</td>
[#begin NEXTPAGE#]<td><a href="?view_mode=<#VIEW_MODE#>&mode=<#MODE#>&save_qry=1&page=[#NUM#]">&gt;&gt;&gt;</a></td>[#end NEXTPAGE#]
</table>
[#endif PAGES#]
<!-- / paging -->
<!-- search results (list) -->
<form action="?" method="post" name="indata" style="padding:0px" class="form">
<table  align=center class="table table-striped">
<thead>
<tr>

 <th><#LANG_TITLE#></th>
 <th align="left" >Обновлено</th>  
<th align="left" >Тип</th>  
<th align="left" > <img src="../img/modules/balance.png" Title="Баланс"></th>  
<th align="left" > <img src="../img/modules/ignition.png" Title="Зажигание"></th>   
<th align="left" > <img src="../img/modules/starting.png" Title="Запуск"></th>  
<th align="left" > <img src="../img/modules/alarm.png" Title="Охрана"></th>   
<th align="left" > <img src="../img/modules/ingn.png" Title="Темп.двигателя"></th> 
<th align="left" > <img src="../img/modules/auto.png" Title="Темп.салона"></th>    
<th align="left" > <img src="../img/modules/battery.png" Title="Напряжение АКБ"></th>   

<th>deviceid</th>  


 <th>&nbsp;</th>
</tr>
</thead>
<tbody>
[#begin RESULT#]
<tr style="height:52px" class="hover_btn2">

 <td style="vertical-align:middle"><b>[#TITLE#]</b> </td>
 <td style="vertical-align:middle">
  [#if DESCRIPTION!=""#]
   [#DESCRIPTION#]
  [#else#]
   &nbsp;
  [#endif#]
 </td>  

 <td  align="left" style="vertical-align:middle">
  [#if tip!=""#]
  [#if tip="Маяк"#] <img src="../img/modules/mayak.png" Title="[#tip#]">[#endif#]  
  [#if tip="Сигнализация"#] <img src="../img/modules/sign.png" Title="[#tip#]">[#endif#] 
  [#if tip="Модуль"#]       <img src="../img/modules/modul.png" Title="[#tip#]">[#endif#] 
  [#else#]
  [#endif#]
 </td>  
 
 <td  style="vertical-align:middle">
  [#if svalue!=""#]
   [#svalue#]
  [#else#]
  [#endif#]
 </td>  

 <td align="left" style="vertical-align:middle">
  [#if tip=="Сигнализация"||tip=="Модуль"#]  
  [#if ign==1#]
   <img src="../templates/telegram/img/enable.png">
  [#else#]
   <img src="../templates/telegram/img/disable.png">
 [#endif#][#else#][#endif#]
 </td>  
 
<td align="left" style="vertical-align:middle">
  
   [#if tip=="Сигнализация"||tip=="Модуль"#]
 <a href="?data_source=<#DATA_SOURCE#>&view_mode=startign&dev=[#device_id#]">START</a>
 <a href="?data_source=<#DATA_SOURCE#>&view_mode=stopign&dev=[#device_id#]">STOP</a> 
  [#else#]
   &nbsp;
  [#endif#]
 </td> 
 
 
 <td align="left" style="vertical-align:middle">
  [#if tip=="Сигнализация"||tip=="Модуль#]  
  [#if arm==1#]
   <img src="../templates/telegram/img/enable.png">
  [#else#]
   <img src="../templates/telegram/img/disable.png">
 [#endif#][#else#][#endif#]
   
 </td>  
 <td align="left" style="vertical-align:middle">
  [#if etemp!=""#]
   [#etemp#]
  [#else#]
   &nbsp;
  [#endif#]
 </td>  
 <td align="left" style="vertical-align:middle">
  [#if ctemp!=""#]
   [#ctemp#][#mayak_temp#]
  [#else#]
   &nbsp;
  [#endif#]
 </td>  

 <td align="left" style="vertical-align:middle">
  [#if battery!=""#]
   [#battery#]
  [#else#]
   &nbsp;
  [#endif#]
 </td>  

<td align="left" style="vertical-align:middle">
  [#if device_id!=""#]
 <a href="?data_source=<#DATA_SOURCE#>&view_mode=startign&dev=[#device_id#]">[#device_id#]</a>
  [#else#]
   &nbsp;
  [#endif#]
 </td>  

 


 <td align="center" style="vertical-align:middle" width="1%" nowrap>
  <div style="width:120px">
  [#if "<#ACTION#>"=="admin"#]

  [#endif ACTION#]
  </div>
 </td>
</tr>
[#end RESULT#]
</tbody>
</table>
 
 
<input type="hidden" name="data_source" value="<#DATA_SOURCE#>">
<input type="hidden" name="view_mode" value="<#VIEW_MODE#>">
</form>
<!-- / search results (list) -->
<!-- paging -->
[#if PAGES#]
<table border=0>
<td align=right><b>Pages:</b>&nbsp;</td>
[#begin PREVPAGE#]<td><a href="?view_mode=<#VIEW_MODE#>&mode=<#MODE#>&save_qry=1&page=[#NUM#]">&lt;&lt;&lt;</a></td>[#end PREVPAGE#]
<td>
[#begin PAGES#]
[#if !SELECTED#]<a href="?view_mode=<#VIEW_MODE#>&mode=<#MODE#>&save_qry=1&page=[#NUM#]">[#else#]<b>[#endif#][#NUM#]</b></a>
[#end PAGES#]
</td>
[#begin NEXTPAGE#]<td><a href="?view_mode=<#VIEW_MODE#>&mode=<#MODE#>&save_qry=1&page=[#NUM#]">&gt;&gt;&gt;</a></td>[#end NEXTPAGE#]
</table>
[#endif PAGES#]
<!-- / paging -->
[#else RESULT#]
<p>
<font color="red"><#LANG_NO_RECORDS_FOUND#></font>
</p>
[#endif RESULT#]
<!-- / results -->
</td></tr></table>
